//Variables
$base-font-size: 16px;
$base-line-height: 1.25;

//Colors
$white: #fff;
$black: #000;
$green: #57a773;
$dark-white: #efe9f4;
$purple: #484d6d;

//General Color for page
$base-background-color: $dark-white;
$base-text-color: $purple;

//Fonts
$base-font-family: 'Montserrat', 'Arial', 'sans-serif';
$secondary-font-family: 'Times New Roman', 'serif';

//Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-black: 900;

//Headings
$headings-font-family: inherit;
$headings-color: inherit;
$headings-font-weight: $font-weight-bold;

//Headings font sizes
$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 27px;
$h4-font-size: 23px;
$h5-font-size: 18px;
$h6-font-size: 16px;

//Border radius
$border-radius-circle: 50%;

// Links
$base-link-color: $green;

// Buttons
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.6em 0.8em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $purple !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $purple !default;

//Buttons

$btn-font-weight: $font-weight-normal;

$btn-default-color: $dark-white;
$btn-default-bg: $green;
$btn-default-border: $green;

$base-min-width: 320px;