.horizontal-scroll {
  overflow: hidden;
  overflow-x: scroll;
  height: 100vh;
  padding: 2rem;

  &__column-holder {
    display: flex;
    align-items: center;
    margin: 0 -12px;
  }

  &__column {
    padding: 0 12px;
    //flex: 1;

    img {
      width: 100vw;
      max-width: none;

      @include media('>=640px') {
        width: 50vw;
      }

      @include media('>=tablet') {
        width: 33.33vw;
      }
    }
  }
}

.page-heading {
  font-size: 3rem;
  padding: 2rem 0;
  margin-bottom: 0;

  @include media(">=tablet") {
    font-size: 4rem;
  }
}