//Flex Mixin
@mixin flex($wrap, $justify-content: flex-start, $align-items: flex-start) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

//Helper flex center
%flex-center {
  @include flex(wrap, center, center);
}

//Helper decor
%decor {
  position: relative;
  padding: 0 12px;

  &:before,
  &:after {
    content: '';
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
  }

  &:before {
    right: 100%;
    box-shadow: -6px -6px 0 0 currentColor, -6px 6px 0 0 currentColor;
  }

  &:after {
    left: 100%;
    box-shadow: 6px 6px 0 0 currentColor, 6px -6px 0 0 currentColor;
  }
}

body {
  letter-spacing: 1.6px;
}

.nom,
.yum,
.diabeetus,
.main {
  overflow: hidden;
}

.nom,
.yum,
.diabeetus {
  color: #fff;
  @extend %flex-center;
}

.grid-container {
  font-family: Montserrat, sans-serif;
  color: #006f90;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.5fr; //grid template colums using fraction unit
  grid-template-rows: 1fr 4fr 3fr 2fr; //grid template rows using fraction unit
  grid-template-areas:
          "main           main header"
          "main           main candy"
          "nom             yum candy"
          "diabeetus diabeetus candy"; //grid template areas using text
  height: 100vh;
}

.main {

  /** first way to style grid area using column and row values manually **/

  //grid-column-start: 1;
  //grid-column-end: 3;
  //grid-row-start: 1;
  //grid-row-end: 3;


  /** second way to style grid area using column and row shorthand **/

  //grid-column: 1/3; /* values are like start-value/end-value */
  //grid-row: 1/3; /* values are like start-value/end-value */


  /** third way to style grid area, one shorthand for both rows and columns **/

  //grid-area: 1/1/3/3; /* values goes like ( row-start / column-start / row-end  / column-end ) */


  /** fourth way to style grid area **/

  grid-area: main; /* using respective name that is defined in parent "grid-template-areas" property */

  background-color: #fffae0;
  color: #1f1f1f;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  @extend %flex-center;
  overflow-y: auto;
}

.nom {
  /** first way to style grid area using column and row values manually **/

  //grid-column-start: 1;
  //grid-column-end: 2;
  //grid-row-start: 3;
  //grid-row-end: 4;

  //grid-area: 3/1/4/2; /* values goes like ( row-start / column-start / row-end  / column-end ) */

  grid-area: nom; /* using respective name that is defined in parent "grid-template-areas" property */

  background-color: #c4b359;
}

.yum {
  /** first way to style grid area using column and row values manually **/

  //grid-column-start: 2;
  //grid-column-end: 3;
  //grid-row-start: 3;
  //grid-row-end: 4;

  //grid-area: 3/2/4/3; /* values goes like ( row-start / column-start / row-end  / column-end ) */

  grid-area: yum; /* using respective name that is defined in parent "grid-template-areas" property */

  background-color: #333333;
}

.diabeetus {
  //grid-area: 4/1/5/3; /* values goes like ( row-start / column-start / row-end  / column-end ) */

  grid-area: diabeetus; /* using respective name that is defined in parent "grid-template-areas" property */

  background-color: #1f1f1f;
}

.header {
  //grid-area: 1/3/2/4; /* values goes like ( row-start / column-start / row-end  / column-end ) */

  gird-area: header; /* using respective name that is defined in parent "grid-template-areas" property */

  color: #1f1f1f;
  padding: 1.5rem 2rem;
  @include flex(wrap, space-between, center);
}

.candy {
  //grid-area: 2/3/5/4; /* values goes like ( row-start / column-start / row-end  / column-end ) */

  grid-area: candy; /* using respective name that is defined in parent "grid-template-areas" property */

  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  padding: 2rem;
}

h1,
h2 {
  @extend %decor;
}

h1 {
  padding-left: 0;
}


/* menu styles */
.menu {
  display: inline-block;
  vertical-align: top;
  width: 58px;
  height: 58px;
  background: radial-gradient(ellipse at center, #f48a96 0%,#c53f4f 100%);
  border-radius: 50%;
  position: relative;

  &:before,
  &:after {
    content: '';
  }

  &:before,
  &-bars,
  &:after {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    width: 28px;
    margin: 0 auto;
    background-color: #fff;
  }

  &:before {
    top: 36%;
  }

  &-bars {
    top: 50%;
    transform: translateY(-50%);
    text-indent: 101%;
    overflow: hidden;
    display: block;
  }

  &:after {
    top: auto;
    bottom: 36%;
  }
}