// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
	@include placeholder {
		color: lighten(desaturate(adjust-hue($dark-white, -213), 3.70), 22.16);
	}
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid $form-element-border-color;
	padding: $form-element-padding;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;

	&:focus {
		border-color: $form-element-focus-border-color;
		outline: none;
	}

	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	@include animate(background-color);
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	background: $purple;
	border: 0;
	color: $dark-white;
	padding: 16px 22px;
	font-weight: 500;
	letter-spacing: 1.2px;

	&:hover {
		background-color: darken($purple, 12%);
	}
}
